<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Curso Vue.js</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
</head>
<body>
    <div id="app">
        <form @submit.prevent="submit" action="">
            <h2>¿Cuáles son tus cursos favoritos?</h2>
            <template v-for="curso in cursos">
                <input v-model="cursosSeleccionados" type="checkbox" v-bind:id="curso.value" v-bind:value="curso.value">
                <label v-bind:for="curso.value"> {{ curso.nombre }} </label>
            </template>
            <button type="submit">Enviar</button>
        </form>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script type="text/javascript">
        let app = new Vue({
            el: '#app',
            data:{
                cursos: [
                    {nombre: 'Curso de Introduccion a Vue.js',
                        value: 'vue'},
                    {nombre: 'Curso de Introduccion a Java',
                        value: 'java'},
                    {nombre: 'Curso de Introduccion a Express',
                        value: 'express'},
                    {nombre: 'Curso de Introduccion a Python',
                        value: 'python'}
                ],
                cursosSeleccionados:[]
            },
            methods:{
                submit: function(){
                    console.log("se ejecuta el método submit")
                    console.log(this.cursos)
                    return null
                }
            }

        })
    </script>
</body>
</html>